// about-page

.hero-image{
	display: flex;
  justify-content: center;
  align-items: center;
  }

.hero-image	&:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  height: 0;
  }

.hero-image h2{
  font-family: 'novecento', sans-serif;
  color: #fff;
  font-size: 3rem;
  }


.about-page{
  padding: 20px 150px;
  }

.about-page  h3{
  text-align: center;
  font-family:'merriweather', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #2f1339;
  letter-spacing: 3px;
  }

.about-page  p{
  font-family: 'merriweather', serif;
  }
