/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* pages with sidebars */

.page, .blog {

  .site-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    padding-top: 50px;
  }

  .content-area {
    width: 73%;
    padding-right: 5%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-right: 1px solid #e1e1e1;
  }

  .widget-area {
    padding-left: 5%;
    width: 23%;
    .widget h2 {
      font-size: 1.5rem;
    }
  }
}

.widget-title {
  text-transform: capitalize;
  font-family: 'novecento', sans-serif;
}
/* Front Page & About Page*/

.home, .page-template-about-php, .single-adventuer {
  .site-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 0;
    margin-top: 0;
  }

  .content-area {
    width: 100%;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-right: none;
  }
}
